#if($ctx.args.projectId)
{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "UserProjectIndex",
  "query": {
    "expression": "userId = :userId AND projectId = :projectId",
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
      ":projectId": $util.dynamodb.toDynamoDBJson($ctx.args.projectId)
    }
  },
  "limit": $util.defaultIfNull($ctx.args.limit, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null))
}
#else
{
  "version": "2017-02-28",
  "operation": "Query",
  "query": {
    "expression": "userId = :userId",
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    }
  },
  "limit": $util.defaultIfNull($ctx.args.limit, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null))
}
#end
