#if($ctx.args.projectId)
{
  "version": "2017-02-28",
  "operation": "Scan",
  "filter": {
    "expression": "userId = :userId AND projectId = :projectId AND (contains(title, :searchTerm) OR contains(description, :searchTerm))",
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
      ":projectId": $util.dynamodb.toDynamoDBJson($ctx.args.projectId),
      ":searchTerm": $util.dynamodb.toDynamoDBJson($ctx.args.searchTerm)
    }
  }
}
#else
{
  "version": "2017-02-28",
  "operation": "Scan",
  "filter": {
    "expression": "userId = :userId AND (contains(title, :searchTerm) OR contains(description, :searchTerm))",
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
      ":searchTerm": $util.dynamodb.toDynamoDBJson($ctx.args.searchTerm)
    }
  }
}
#end
